# Terraform directories and state
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Sensitive files
*.tfvars
*.pem
*.key
*.crt
*.pub
*.log
*.bak
*.backup
*.zip

# SSH keys and local outputs
**/.ssh/*
!docs/

# OS junk
.DS_Store
Thumbs.db
